<h3><%= @user.username %>のページ</h3>
<%= link_to "編集", edit_user_path(@user.id), class:"btn btn-success" %><br><br>
<table class="table table-striped w-50">
  <tbody>
     <tr>
       <th>ユーザーid</th>
       <td><%= @user.id %></td>
     </tr>
      <tr>
        <th>ユーザー名</th>
        <td><%= @user.username %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th>　</th>
        <td>　</td>
      </tr>
  </tbody>
</table>

<hr>
<h3>フォロー中のユーザー</h3><br>
<% @user.following.each do |user| %>
  <li>
    <%= link_to user_path(user) do %>
      <%= user.username %>
    <% end %>
  /<%= user.email %></li>
<% end %>