<div class="">
  <h2>新規投稿</h2><hr>
</div> 
<div class="container">
  <div class="w-50">
    <%= form_with(model: @item, local: true) do |form| %>
      <div class="mb-3">
        <%= form.label :name %>
        <%= form.text_field :name,  placeholder: "投稿アイテム名を入力..", class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= form.label :brand %>
        <%= form.text_field :brand,  placeholder: "ブランド名を入力..", class: "form-control" %>
      </div>
      <div class="mb-3 w-25">
        <%= form.label :price %>
        <%= form.text_field :price,  placeholder: "価格を入力..", class: "form-control" %>円
      </div>
      <div class="mb-3">
        <%= form.label :content %>
        <%= form.text_area :content, placeholder: "を入力してください..", class: "form-control" %>
      </div>
    
      <br>
        <%= form.submit '登録する', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>