<div class="header">
  <i class="fas fa-globe"></i>
  <h2 class="title">FukuOta</h2><i class="fas fa-share-alt"></i>
  <h2 class="title">FukuOta</h2><i class="fas fa-globe"></i>
  <div class="log_in", style="text-align:right;">  
      <% if user_signed_in? %>
        <p style="text-align:right;">ようこそ、<%= current_user.username %>さん　　</p>
        <%= link_to user_path(current_user.id) do%>
        <strong><i class="fas fa-user-cog"></i><%= current_user.username %></strong>
        <% end %><span>|</span>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "新規登録", new_user_registration_path %>
        <%= link_to "ログイン", new_user_session_path %>
      <% end %>
  </div><hr>
</div>